.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.mg-left6 {
    margin-left: 6px;
}

.alg-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-box-w600 {
    position: relative;
    left: 50%;
    top: 70px;
    width: 600px;
    transform: translate(-50%, -50%);
}

.container-main-o {
    position: absolute;
    top: var(--header-a-height);
}

.list-user-item {
    padding: 7px;
    width: var(--main-list-width);
    background-color: var(--white-color);
    position: relative;
    top: var(--header-a-height);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 8px;
    box-shadow: -1px 1px 2px var(--rgba-black), 1px 1px 2px var(--rgba-black);
    animation: fadeIn ease-in 0.3s;
}

.profile-part_ {
    cursor: pointer;
}

.header-a {
    position: fixed;
    margin: 30px;
    height: var(--header-a-height);
}

.item-below-header-a {
    position: absolute;
    top: var(--header-a-height);
}

.hide {
    display: none;
}