{
    "singleQuote": true,
    "trailingComma": "all",
    "max-line-length": [
        false,
        {
            "limit": 600,
            "ignore-pattern": "^import |^export {(.*?)}"
        }
    ]
}