<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/layout/home-container.css">
<link rel="stylesheet" href="/css/abstracts/common.css">

<section class="home-main flex-row container">
    <div id="main-left"></div>
    <div id="main-center" class="container-center"></div>
    <div id="main-right"></div>

</section>
<script>
    $('#main-left').load("/html/components/main-left.html");
    $('#main-center').load("/html/components/main-center.html");
    $('#main-right').load("/html/components/main-right.html");
</script>