<div class="post-box list-like">
    <div class="post-box__head" id="<%= search_data %>">
        <h3 class="post-box__head-text">
            Mọi người
        </h3>
    </div>
    <div class="body">

        <ul class="list-user">
            <li class="container-right__connect-item flex-roww">
                <div class="left-section flex-roww">
                    <div class="container-right__connect-item-avatar">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.XzTH6q-8VET8flBmdLiiBwDgDg&pid=Api&P=0&w=300&h=300" alt="" class="container-right__connect-item-img">
                    </div>
                    <span class="container-right__connect-item-name">Nguyễn Hoàng Uyên My</span>
                </div>
                <button type="button" class="btn btn-active" data-toggle="modal" data-target="#" style="font-size:14px">Thêm bạn bè</button>
            </li>
        </ul>
    </div>

</div>

<script>
</script>