<section class="container-left">
    <div class="header-switch sub-switch">

        <div class="header-switch__box">
            <div style="color: rgba(235, 235, 235, 0.842)" class="header-switch-icon switch-moon">
                <i class="fas fa-moon"></i>
            </div>
            <div style="color: rgb(226, 226, 116)" class="header-switch-icon switch-sun">
                <i class="fas fa-sun"></i>
            </div>
        </div>

    </div>
    <div class="container-left__favorite">
        <ul class="favorite-list">

            <li class="favorite-item">
                <img src="/img/Home/item-fav-1.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Bạn bè</span>
            </li>
            <li class="favorite-item">
                <img src="/img/Home/item-fav-2.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Đã lưu</span>
            </li>
            <li class="favorite-item">
                <img src="/img/Home/item-fav-3.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Watch</span>
            </li>
            <li class="favorite-item">
                <img src="/img/Home/item-fav-4.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Nhóm</span>
            </li>
            <li class="favorite-item">
                <img src="/img/Home/item-fav-5.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Marketplace</span>
            </li>
        </ul>
        <div class="container-left__more more-less-btn">
            <div class="container-left__more-icon more-less-icon">
                <i class="fas fa-chevron-down"></i>
            </div>
            <span class="container-left__more-text more-less-text">Xem thêm</span>
        </div>
        <ul class="container-left__more-list">
            <li class="favorite-item">
                <img src="/img/Home/item-fav-6.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Chơi game</span>
            </li>
            <li class="favorite-item">
                <img src="/img/Home/item-fav-7.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Yêu thích</span>
            </li>
            <li class="favorite-item">
                <img src="/img/Home/item-fav-8.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Sự kiện</span>
            </li>
            <li class="favorite-item">
                <img src="/img/Home/item-fav-9.png" alt="" class="favorite-item__img">
                <span class="favorite-item__text">Kỉ niệm</span>
            </li>
        </ul>
        <div class="container-left__less more-less-btn">
            <div class="container-left__more-icon more-less-icon">
                <i class="fas fa-chevron-up"></i>
            </div>
            <span class="container-left__more-text more-less-text">Ẩn bớt</span>
        </div>
    </div>
    <div class="container-left__shortcut">
        <div class="shortcut-head">
            <div class="shortcut-head__text">
                Lối tắt của bạn
            </div>
            <span class="shortcut-head__btn">Chỉnh sửa</span>
        </div>
        <ul class="shortcut-list">
            <li class="shortcut-item">
                <img src="/img/Home/avatar-notify-4.jpg" alt="" class="shortcut-item__img">
                <span class="shortcut-item__text">Titan Gaming</span>
            </li>
            <li class="shortcut-item">
                <img src="/img/Home/item-group-1.png" alt="" class="shortcut-item__img">
                <span class="shortcut-item__text">Cờ tướng</span>
            </li>
            <li class="shortcut-item">
                <img src="/img/Home/item-group-2.png" alt="" class="shortcut-item__img">
                <span class="shortcut-item__text">Nametests</span>
            </li>
            <li class="shortcut-item">
                <img src="/img/Home/item-group-3.png" alt="" class="shortcut-item__img">
                <span class="shortcut-item__text">J2TEAM Community</span>
            </li>
            <li class="shortcut-item">
                <img src="/img/Home/item-group-4.png" alt="" class="shortcut-item__img">
                <span class="shortcut-item__text">Chia sẻ cùng thách đấu</span>
            </li>
        </ul>
        <div class="container-left__more more-less-btn">
            <div class="container-left__more-icon more-less-icon">
                <i class="fas fa-chevron-down"></i>
            </div>
            <span class="container-left__more-text more-less-text">Xem thêm</span>
        </div>
        <ul class="container-left__more-list">
            <li class="shortcut-item">
                <img src="/img/Home/item-group-5.png" alt="" class="shortcut-item__img">
                <span class="shortcut-item__text">Ngôi sao lấp lánh Offical</span>
            </li>
            <li class="shortcut-item">
                <img src="/img/Home/item-group-6.png" alt="" class="shortcut-item__img">
                <span class="shortcut-item__text">Sinh viên OU</span>
            </li>
            <li class="shortcut-item">
                <img src="/img/Home/item-group-7.png" alt="" class="shortcut-item__img">
                <span class="shortcut-item__text">LÀM CHỦ SLIDE</span>
            </li>
        </ul>
        <div class="container-left__less more-less-btn">
            <div class="container-left__less-icon more-less-icon">
                <i class="fas fa-chevron-up"></i>
            </div>
            <span class="container-left__less-text more-less-text">Ẩn bớt</span>
        </div>
    </div>
    <footer class="container-left__footer">
        <p class="container-left__footer-text">
            <a href="">
                Quyền riêng tư
            </a> -
            <a href="">
                Điều khoản
            </a> -
            <a href="">
                Quảng cáo
            </a> -
            <a href="">
                Cookie
            </a> -
            <span class="container-left__footer-more-text">Xem thêm</span>
            <br> Facebook &copy; 2021
        </p>
    </footer>
</section>