<section class="container-right">
    <div class="container-right__page">
        <div class="container-right__page-head">
            <p class="container-right__page-head-text">
                Trang của bạn
            </p>
            <div class="container-right__page-more more-dots">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
        <div class="container-right__page-item">
            <img src="https://pluspng.com/img-png/nodejs-logo-png-show-images-in-console-with-node-js-console-png-600.png" alt="" class="container-right__page-item-avatar">
            <span class="container-right__page-item-title">NodeJS Medeia</span>
        </div>
        <div class="container-right__page-ads">
            <div class="container-right__page-ads-img">
                <i class="fas fa-volume-down"></i>
            </div>
            <div class="container-right__page-ads-text">
                Tạo quảng cáo
            </div>
        </div>
    </div>

    <div class="container-right__connect">
        <div class="container-right__connect-head">
            <p class="container-right__connect-head-text">
                Đang online
            </p>
            <div class="container-right__connect-head-more more-dots">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
        <ul class="container-right__connect-list">

        </ul>
    </div>
</section>

<script>
    // fetch('/get-all-user')
    //     .then(response => {
    //         return response.json()
    //     })
    //     .then(data => {
    //         let All_User = data
    //         console.log('ALL USER', All_User)
    //         All_User.map(user => {
    //             document.querySelector('.container-right__connect-list').innerHTML += `
    //         <li class="container-right__connect-item">
    //             <a class="a-non-decor flex-roww" href="/profile/${user._id}">
    //                 <div class="container-right__connect-item-avatar">
    //                     <img src="${user.avatar}" alt="" class="container-right__connect-item-img">
    //                 </div>
    //                 <span class="container-right__connect-item-name">${user.userName}</span>
    //             </a>
    //         </li>
    //         `
    //         })
    //     })
</script>